*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
background-color: #F5F1EA;
    color: #222222;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #8B5E3C;
}
.background-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background{
    width: 32%;
    border-radius:10px;
    background:#CBB8A6;
    left:0;
    margin-top: 20px;
    
}
.background img{
    height: 100%;
    width: 300px;
}

.container{
    padding: 10px 10%;

}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;

    

}
.logo{
    font-size: 40px;
    font-weight: 600;
    transition: transform 0.5s;
    color:white;
}
.logo .first-letter{
    color: #ff004f;
}

.logo:hover{
    transform: translateY(-10px);
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position:relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color:white;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
#about{
    padding:80px 0;
    color:#222222;
}
.row{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    flex-wrap: wrap;   ;
}
.col1{
    flex-basis: 35%;
}
.col1 img{
    width:100%;
    border-radius: 15px;
}
.col2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 30px;
    font-weight: 600;
    color:#222222;
}
.tab-titles{
display: flex;
margin: 20px 0 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.tab-link::after{
    content: '';
    width:0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition:0.5s;
}

.tab-link.active-link::after{
    width:50%;
}
.tabcontents ul li{
    list-style: none;
    margin:10px 0;
}
.tabcontents ul li span{
    color: #b54769;
    font-size: 18px;
}
.tabcontents{
    display:none;
}
.tabcontents.active-tab{
    display:block;
}
#services{
    padding:30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #CBB8A6;
    color: #222222;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div:hover{
    background: #B89F8A;
    transform: translateY(-10px);
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #8B5E3C
}

.service-list div i h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color:#8B5E3C;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
/* Portfolio */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
   border-radius: 10px; 
   position: relative;
   overflow: hidden;
}
.work img{
    width:100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0%;
    background: linear-gradient(rgba(0,0,0,0.6), #8B5E3C);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5S;
}
.layer p{
    color:white;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}
.layer a {
      margin-top: 20px;
      color:#8B5E3C;
      text-decoration: none;
      font-size: 18px;
      line-height: 60px;
      background: #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
}  
.work:hover img{
    transform: scale(1.1);
}   
.work:hover .layer{
    height: 100%;
}
.btn{
    display:block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #8B5E3C;
    background: transparent;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #222222;
    transition: background 0.5s;
}
.btn a{
    text-decoration: none;
    color: #222222;
    font-size: 18px;
}
.btn a:hover{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.btn:hover{
    background: #8B5E3C;
    color: white;
}
.footercontainer{
    padding: 10px 10%;
    background-color: #121212;
    color: #D6D6D6;

}
.sub-titlecontactme{
       font-size: 30px;
    font-weight: 600;
    color:#d6d6d6;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #D6D6D6;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: #d6d6d6;;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform:translateY(-5px);
    color: #8B5E3C;
}
.btn.btn2{
    display:inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #8B5E3C;
    background: transparent;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #D6D6D6;
    transition: background 0.5s;
}
.btn.btn2:hover{
    background: #8B5E3C;
    color: white;
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color:black;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
}
.copyright{
    width:100%;
    text-align: center;
    padding: 15px 0;
    background: #d6b38a;
    font-weight: 300;
    color: #222222;
    
}
nav .fa-solid{
    display: none;
}
#msg{
    display: block;
    margin-top: -20px;
    color: #d6d6d6;
    font-size: 18px;
}

/* For small screens */
@media only screen and (max-width:600px){
   #header{
    height: 70vh;
    background-color: #121212;
   }
    .background{
    display:none;
}
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: white;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top:0;
        color:#d6d6d6;
        right:-200px;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2;
        transition:right 0.5s;


    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position:absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    .sub-title{
        font-size: 40px;
        margin: 20px;
    }
    .col1, .col2{
        flex-basis: 100%;
       
    }
    .col1{
        margin-bottom: 30px;
    }
    .col2{
        font-size: 14px;
    }
    .tab-link{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright p{
        font-size: 16px;
    }
}
